subscription_id=""  
tenant_id=""
aad_client_id=""
aad_client_secret=""

openshift_rht_user="" 
openshift_rht_password="" 
openshift_rht_poolid="" 

resource_group_name="ocponazure" 
resource_group_location="WestEurope"
key_vault_name="TerraformVault" 
key_vault_resource_group="permanent" 
key_vault_secret="OpenShiftSSH"

openshift_cluster_prefix="ocponazure" 
openshift_password="P4ssw0rd" 
openshift_script_path="/Users/openshift/terraform-azure-openshift/openshift-enterprise/scripts" 
connection_private_ssh_key_path="/Users/openshift/.ssh/id_rsa" 

ssh_public_key="ssh-rsa AAAAB3m"
openshift_azure_deploy_openshift_script="https://raw.githubusercontent.com/dwojciec/openshift-azure-terraform/master/openshift-enterprise/scripts/deployOpenShift.sh"

master_instance_count=1 
infra_instance_count=1 
node_instance_count=1

infra_vm_size=